/* Body - fonts
----------------------------------------------- */
/* Anchors
----------------------------------------------- */
/* Global
----------------------------------------------- */
/* Font Specific Settings
----------------------------------------------- */
/* Headers
----------------------------------------------- */
/* Form Settings 
----------------------------------------------- */
/* Tables
----------------------------------------------- */
/* Button settings
----------------------------------------------- */
    /* Settings for SassyGrids 
----------------------------------------------------------------------------------------------------*/
/* Import Mixins used by SassyGrids
----------------------------------------------------------- -----------------------------------------*/
/* Import Functions used by SassyGrids
----------------------------------------------------------- -----------------------------------------*/
/* Error Handling for SASS precomiler
----------------------------------------------------------- -----------------------------------------*/
/* ==========================================================================
   Debug
   ========================================================================== */
/* line 8, ../scss/components.scss */
button.debug {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 11;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* line 19, ../scss/components.scss */
header #topRow {
  padding: 12px 30px 17px;
  background: #eadac0;
}
/* line 20, ../scss/components.scss */
header #topRow a img {
  height: 60px;
  width: auto;
}

/* ==========================================================================
   Bootstrap overrides
   ========================================================================== */
/* line 31, ../scss/components.scss */
.table-striped > tbody > tr td, .table-striped > tbody > tr th {
  background: white;
}
/* line 33, ../scss/components.scss */
.table-striped > tbody > tr:nth-child(odd) td, .table-striped > tbody > tr:nth-child(odd) th {
  background: white;
}
/* line 36, ../scss/components.scss */
.table-striped > tbody > tr:nth-child(even) td, .table-striped > tbody > tr:nth-child(even) th {
  background: #f5f3f4;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
/* line 49, ../scss/components.scss */
nav#top {
  background: #275d2c;
  padding: 0 30px;
  color: white;
  border-bottom: 3px solid #86b45c;
  height: 33px;
}
/* line 50, ../scss/components.scss */
nav#top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 51, ../scss/components.scss */
nav#top ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 52, ../scss/components.scss */
nav#top ul li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
/* line 53, ../scss/components.scss */
nav#top ul li a:after {
  content: '>';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 12px;
}
/* line 55, ../scss/components.scss */
nav#top ul li.active {
  text-decoration: underline;
}
/* line 58, ../scss/components.scss */
nav#top ul li:last-child a:after {
  display: none;
}
/* line 63, ../scss/components.scss */
nav#top ul.system li a {
  text-decoration: underline;
  padding: 0 12px;
}
/* line 64, ../scss/components.scss */
nav#top ul.system li a:after {
  display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 78, ../scss/components.scss */
#sidebar {
  width: 250px;
  background: #dac9ab;
  display: block;
  position: absolute;
  top: 122px;
  bottom: 0;
  overflow: auto;
  left: 0;
  border-right: 2px solid #cdccca;
}
/* line 79, ../scss/components.scss */
#sidebar .treeWrapper {
  margin-top: 50px;
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* default */
  font-size: 13px;
  color: #555;
  text-decoration: none;
}
/* line 91, ../scss/components.scss */
#sidebar ul.treeRoot {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}
/* line 92, ../scss/components.scss */
#sidebar ul.treeRoot li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 25px;
}
/* line 93, ../scss/components.scss */
#sidebar ul.treeRoot li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-weight: 400;
}
/* line 94, ../scss/components.scss */
#sidebar ul.treeRoot li i {
  background: #aea78a;
  border: 1px solid #403114;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 8px;
  position: relative;
}
/* line 95, ../scss/components.scss */
#sidebar ul.treeRoot li .expanded, #sidebar ul.treeRoot li .collapsed {
  background: #5b533c;
}
/* line 96, ../scss/components.scss */
#sidebar ul.treeRoot li .expanded:after, #sidebar ul.treeRoot li .collapsed:after {
  content: '-';
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 6px;
  height: 10px;
  font-size: 10px;
}
/* line 99, ../scss/components.scss */
#sidebar ul.treeRoot li .collapsed:after {
  content: '+';
}
/* line 104, ../scss/components.scss */
#sidebar ul.treeRoot li a.selected {
  font-weight: 700;
}

/* ==========================================================================
   Loading Bar
   ========================================================================== */
/* Make clicks pass-through */
/* line 116, ../scss/components.scss */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-transition: linear 350ms all;
  -o-transition: linear 350ms all;
  -webkit-transition: linear 350ms all;
  transition: linear 350ms all;
}

/* line 119, ../scss/components.scss */
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 124, ../scss/components.scss */
#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 129, ../scss/components.scss */
#loading-bar .bar {
  -moz-transition: width 0.35;
  -o-transition: width 0.35;
  -webkit-transition: width 0.35;
  transition: width 0.35;
  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -moz-border-radius-topright: 1px;
  -webkit-border-top-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
/* line 131, ../scss/components.scss */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
  opacity: 0.45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

/* line 132, ../scss/components.scss */
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

/* line 133, ../scss/components.scss */
#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ==========================================================================
   Main Content
   ========================================================================== */
/* line 145, ../scss/components.scss */
#mainContent {
  margin-left: 252px;
  background: #fdfaf1;
}
/* line 146, ../scss/components.scss */
#mainContent .inner {
  padding: 50px;
  font-size: 14px;
  line-height: 20px;
}

/* line 154, ../scss/components.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5e5946;
  padding: 0 30px;
  color: white;
  height: 30px;
}
/* line 155, ../scss/components.scss */
footer p {
  line-height: 30px;
  margin: 0;
  font-size: 11px;
}

/* ==========================================================================
   Sprites
   ========================================================================== */
/* line 192, ../scss/components.scss */
.sprite {
  position: relative;
}
/* line 193, ../scss/components.scss */
.sprite:after, .sprite:before {
  display: block;
  background: transparent url("../../_design/sprite.png");
  position: absolute;
}
/* line 194, ../scss/components.scss */
.sprite.loading {
  position: relative;
  min-height: 100px;
  height: 100%;
  width: 100%;
}
/* line 194, ../scss/components.scss */
.sprite.loading:after {
  content: '';
  width: 32px;
  height: 32px;
  background: url("../../_design/site/ajax-loader.gif");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
/* line 204, ../scss/components.scss */
button, input[type="submit"], .button {
  width: auto;
  height: auto;
  background: #275d2c;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 5px 20px;
}
/* line 206, ../scss/components.scss */
button.alt, input[type="submit"].alt, .button.alt {
  background: #dac9ab;
  text-transform: capitalize;
}
/* line 207, ../scss/components.scss */
button.fullCol, input[type="submit"].fullCol, .button.fullCol {
  padding: 5px 0;
}

/* ==========================================================================
   Default Form Layout
   ========================================================================== */
/* line 218, ../scss/components.scss */
label[for] {
  float: left;
  clear: left;
  width: 85px;
  margin: 15px 10px 5px 0;
}
/* line 219, ../scss/components.scss */
label[for] + * {
  width: 278px;
  float: left;
  margin: 5px 0;
}
/* line 220, ../scss/components.scss */
label[for] + .dropdownContainer {
  width: 280px;
}
/* line 221, ../scss/components.scss */
label[for] + .autoFlow {
  width: auto;
}
/* line 222, ../scss/components.scss */
label[for].alt {
  margin: 5px 10px 5px 0;
}

/* line 224, ../scss/components.scss */
input, textarea {
  width: 100%;
  padding: 13px 0px;
  text-indent: 10px;
  margin: 0;
  outline: 0;
}

/* line 227, ../scss/components.scss */
textarea {
  min-height: 128px;
}

/* ==========================================================================
   Checkboxes & Radios
   ========================================================================== */
/* line 236, ../scss/components.scss */
input[type="checkbox"], input[type="radio"] {
  display: none;
}
/* line 237, ../scss/components.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  font-size: 12px;
  line-height: 20px;
  display: block;
  margin: 10px 0;
  cursor: pointer;
}
/* line 238, ../scss/components.scss */
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #dac9ab;
  display: block;
  text-align: center;
  color: white;
  font-size: 17px;
  line-height: 18px;
}
/* line 239, ../scss/components.scss */
input[type="checkbox"] + label a, input[type="radio"] + label a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: underline;
  font-weight: inherit;
}
/* line 242, ../scss/components.scss */
input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
  background: #275d2c;
  border-color: #eadac0;
  content: '\2713';
}
/* line 246, ../scss/components.scss */
input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {
  cursor: not-allowed;
}
